.portableChargerContainer{
    height: 94.3vh;
    background-color: #242424;
    overflow: scroll;
}
.portableChargerContainer::-webkit-scrollbar{
    display: none;
}

.chargerBookingContainer{
    background-color: #242424;
    padding: 20px 0px;
}
.addDriver{
    width: 24px;
    cursor: pointer;
}
.bookingDetailsSection{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 3rem;
}
.locationLink{
    font-weight: 600;
    color: #00ffc3 !important;
    font-size: 16px;
    text-decoration: underline;
    word-break: break-word;
    overflow-wrap: anywhere;
    max-width: 100%;
    display: inline-block;
}